<!doctype html>
<html lang="{{ site:short_locale }}" dir="{{ site:direction }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial:favicon /}}
  {{ partial:fonts /}}
  {{ partial:tracking_scripts_head /}}
  {{ partial:additional_scripts_head /}}
  {{ partial:meta /}}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
{{ page_builder }}
  {{ if type == 'script_block' && script_position == 'Head' }}
    {{ html_block }}
  {{ /if }}
{{ /page_builder }}

  <link rel="stylesheet" href="https://use.typekit.net/slb6fmc.css">
  {{ vite src="resources/js/site.js|resources/css/site.css" }}



</head>
<body class="leading-normal text-gray-800 antialiased {{ site:short_locale === 'ar' ? 'font-noto' : 'font-mont' }}">
   
   
    {{ page_builder }}
  {{ if type == 'script_block' && script_position == 'BodyStart' }}
    {{ html_block }}
  {{ /if }}
{{ /page_builder }}



  {{ partial:tracking_scripts_body /}}
  {{ partial:additional_scripts_body_start /}}

  {{ partial:partials/header }}
  <main class="relative">
    {{ if segment_1 != "services" }}
        {{ partial:innert_page_heading }}
    {{ /if }}
    {{ template_content }}
  </main>

  {{ partial:partials/footer }}

  {{# {{ partial:partials/sets/ai_banner }} #}}
{{# 
<script>
(function() {
    function isInsideExcludedTag(node) {
        let parent = node.parentElement;
        while (parent) {
            const tagName = parent.tagName ? parent.tagName.toUpperCase() : '';
            
            if (["SCRIPT", "STYLE", "NOSCRIPT", "D"].includes(tagName)) {
                return true;
            }
            
            if (parent.hasAttribute && parent.hasAttribute("data-no-number-wrap")) {
                return true;
            }
            
            if (parent.classList && parent.classList.contains("no-number-wrap")) {
                return true;
            }
            
            parent = parent.parentElement;
        }
        return false;
    }

    function wrapNumbers(node) {
        if (node.nodeType === Node.TEXT_NODE) {
            if (/\d/.test(node.nodeValue) && !isInsideExcludedTag(node)) {
                const span = document.createElement("span");
                span.innerHTML = node.nodeValue.replace(/(\d+)/g, '<span class="font-audio">$1</span>');
                node.parentNode.replaceChild(span, node);
            }
        } else if (node.nodeType === Node.ELEMENT_NODE) {
            const tagName = node.tagName ? node.tagName.toUpperCase() : '';
            
            if (["SCRIPT", "STYLE", "NOSCRIPT", "D"].includes(tagName)) return;
            if (node.hasAttribute && node.hasAttribute("data-no-number-wrap")) return;
            if (node.classList && node.classList.contains("no-number-wrap")) return;
            
            Array.from(node.childNodes).forEach(wrapNumbers);
        }
    }

    function init() {
        wrapNumbers(document.body);
        
        // Cleanup any font-audio spans in excluded elements
        setTimeout(function() {
            document.querySelectorAll('d, [data-no-number-wrap], .no-number-wrap').forEach(function(el) {
                el.querySelectorAll('.font-audio').forEach(function(span) {
                    span.parentNode.replaceChild(document.createTextNode(span.textContent), span);
                });
            });
        }, 100);
    }

    if (document.readyState === 'loading') {
        document.addEventListener('DOMContentLoaded', init);
    } else {
        init();
    }
})();
</script> #}}



    {{ page_builder }}
  {{ if type == 'script_block' && script_position == 'BodyEnd' }}
    {{ html_block }}
  {{ /if }}
{{ /page_builder }}
</html>