<!doctype html>
<html lang="{{ site:short_locale }}" dir="{{ site:direction }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ partial:favicon /}}
  {{ partial:fonts /}}
  {{ partial:tracking_scripts_head /}}
  {{ partial:additional_scripts_head /}}
  {{ partial:meta /}}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  
  <link rel="stylesheet" href="https://use.typekit.net/slb6fmc.css">
  {{ vite src="resources/js/site.js|resources/css/site.css" }}
</head>
<body class="leading-normal text-gray-800 antialiased {{ site:short_locale === 'ar' ? 'font-noto' : 'font-mont' }}">
  {{ partial:tracking_scripts_body /}}
  {{ partial:additional_scripts_body_start /}}

  {{ partial:partials/header }}
  <main class="relative">
    {{ partial:innert_page_heading }}
    {{ template_content }}
  </main>

  {{ partial:partials/footer }}

  {{# {{ partial:partials/sets/ai_banner }} #}}

  {{ partial:additional_scripts_body_end /}}
</body>
<script>
document.addEventListener("DOMContentLoaded", function () {
    function wrapNumbers(node) {
        if (node.nodeType === Node.TEXT_NODE) {
            if (/\d/.test(node.nodeValue)) {
                const span = document.createElement("span");
                span.innerHTML = node.nodeValue.replace(
                    /(\d+)/g,
                    '<span class="font-audio">$1</span>'
                );
                node.parentNode.replaceChild(span, node);
            }
        } else if (
            node.nodeType === Node.ELEMENT_NODE &&
            !["SCRIPT", "STYLE", "NOSCRIPT"].includes(node.tagName)
        ) {
            node.childNodes.forEach(wrapNumbers);
        }
    }

    wrapNumbers(document.body);
});
</script>

</html>