<footer class="bg-light-accent bg-cover text-primary">

    <div class="adnec-container mx-auto py-[45px] md:py-[50px] lg:py-[50px] relative">
        <div
            class="flex flex-col sm:grid grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-y-[40px] gap-x-[15px] md:gap-[30px] ">

            <div class="   mt-0 ">
                <div class=" flex flex-col md:flex-row gap-5 ">
                    {{ brand:logos_and_partners }}
                        <div class="flex-col  flex">
                            {{#
                                <div class="font-semibold text-lg mb-5 text-[#fff] mt-2 group-hover:text-[#fff] transition-colors">
                                    {{ title }}
                                </div>
                            #}}
                            <div class="flex   gap-2">
                                {{ logo }}
                                    <a href="{{ url }}" class="group transition-all duration-300 hover:opacity-80 ">
                                        {{ image }}
                                            <img loading="lazy" src="{{ url }}" alt="{{ alt }}"
                                                class="w-[174px] h-24  self-stretch object-contain  mx-auto">
                                        {{ /image }}
                                    </a>
                                {{ /logo }}
                            </div>
                        </div>
                    {{ /brand:logos_and_partners }}
                </div>
                {{ brand:footer_text }}
            </div>

            <div class="col-span-1">
                <h3 class="text-xl font-semibold mb-6 relative inline-block uppercase text-primary">
                    {{ 'Useful Links' | trans }}
                </h3>
                <ul class="columns-2 gap-x-4 space-y-1">
                    {{ nav:footer_nav include_home="false" }}
                        <li>
                            <a href="{{ url }}"
                                class="text-primary text-base transition-all transform hover:translate-x-1 inline-block">
                                {{ if url == '/' }}
                                    <x-dynamic-component component="icons.home"
                                        class="h-4 w-4 inline-block mr-1 rtl:ml-1 rtl:mr-0" />
                                {{ else }}
                                {{ /if }}
                                {{ title }}
                            </a>
                        </li>
                    {{ /nav:footer_nav }}
                </ul>
            </div>



            <div class="flex flex-col gap-5">



                <div>
                    <h3 class="text-xl font-semibold mb-6 relative inline-block">
                        {{ 'STAY UPDATED' | trans }}
                    </h3>
                    <div class="footer-form" >
                        {{ brand }}
                            {{ if form }}
                                {{ partial:shared.form.form_alpine }}
                            {{ /if }}
                        {{ /brand }}
                    </div>
                </div>


                <div>
                    <h3 class="text-xl font-semibold mb-6 relative inline-block">
                        {{ 'FOLLOW US' | trans }}
                    </h3>
                    {{ partial:footer_social_media }}
                    {{#
                        <ul class="space-y-4">
                            {{ brand:footer_sales }}
                                <li>
                                    <a class="flex items-center flex-row" href="{{ link }}">
                                        {{ heroicon variant="outline" :icon="icon" class="h-5 w-[30px] inline-block mr-2  " /}}
                                        {{ sales_text }}
                                    </a>
                                </li>
                            {{ /brand:footer_sales }}
                            {{ < li class="flex items-start" class="text-[#fff]" }}
                        </ul>
                    #}}
                </div>
            </div>




        </div>
    </div>





    <div class="adnec-container relative z-10   h-[1px] bg-[#bbcae1]  "></div>
    <div class="  py-6">
        <div class=" adnec-container   flex  flex-row  justify-between items-center">

            <div class="flex flex-col-reverse  md:flex-row justify-between w-full gap-3 md:gap-5">
                <div class="text-[#fff]  text-sm mb-4 md:mb-0 w-full">
                    <a class="text-primary text-center" href="https://www.adnecgroup.ae" target="_blank"
                        rel="noopener noreferrer">
                        &copy;{{ 'Make it in the Emirates' }} {{ now format="Y" }}
                        {{ ',organised by Capital Events part of ADNEC Group' | trans }}
                    </a>
                </div>

                <div class="flex w-max flex-row gap-2 ">
                    {{ brand:link_bottom_footer }}
                        <a class="w-max" href="{{ footer_botom_links }}">

                            {{ bottom_footer_links_text }}
                        </a>
                    {{ /brand:link_bottom_footer }}
                </div>

            </div>
        </div>
    </div>
</footer>