    
    <header class="sticky top-0 left-0 flex flex-col w-full z-40 h-auto"
        {{# x-init="window.addEventListener('scroll', () => { scrolled = window.scrollY > 10 })" #}}
    class="  bg-primary  z-50 border-b  "
    >
     {{# {{if !is_homepage}} bg-back-gradient {{/if}} #}}
    <nav class="w-full flex-grow transition-all duration-300 ease-in-out"
        x-data="{ scrolled: false, initialBg: '{{ if feature_banner_image }} bg-primary z-50 border-b {{ elseif is_homepage }}bg-primary z-50 border-b   {{else}}bg-primary z-50 border-b {{ /if }}' }"
        x-init="window.addEventListener('scroll', () => { scrolled = window.scrollY > 10 })" x-cloak
        :class="scrolled ? 'bg-primary z-50 border-b ' : initialBg">
        <div class="adnec-container h-full pt-0 gap-2 mx-auto  flex flex-row md:items-center justify-between ">
            <!-- Logo and Event Info -->

            <div class="flex items-center xl:w-56 md:w-55 w-40">
                <a href="{{ site:url }}" title="{{ brand:title }}" class="">
                    {{ brand:logo }}
                        <img src="{{ url }}" alt="{{ brand:title }}"
                            class=" object-contain py-5" 
                             :class="scrolled ? 'h-25 ' : 'h-32'"  >
                    {{ /brand:logo }}
                </a>

            </div>

            <div class=" hidden lg:flex flex-row gap-5 ">

                <div class="  flex flex-row gap-y-1 flex-wrap xl:gap-4 gap-3">
                    {{ nav:main_nav }}
                        <div class="relative dropdown-item">
                            {{ if children }}
                                <input type="checkbox" id="dropdown-{{ index }}" class="dropdown-checkbox">

                                <label for="dropdown-{{ index }}" tabindex="0"
                                    class="dropdown-label py-3 text-white xl:text-base text-[14px] font-medium leading-relaxed cursor-pointer flex items-center gap-1">
                                    <p>{{ title }}</p>
                                    {{ heroicon variant="outline" icon="chevron-down" class="h-5 w-5 text-black transition-transform duration-300" }}
                                </label>

                                <div
                                    class="dropdown-content absolute bg-white mt-2 rounded-lg shadow-lg min-w-[200px] md:min-w-[300px] z-10 overflow-hidden">
                                    {{ children }}
                                        <a href="{{ url }}"
                                            class="block px-4 py-2 xl:text-base lg:text-sm text-gray-800 hover:bg-gray-100 transition-colors font-outfit font-light">
                                            {{ title }}
                                        </a>
                                    {{ /children }}
                                </div>
                            {{ else }}
                                <h3 class="text-white py-3 xl:text-base lg:text-[14px] font-medium">
                                    <a href="{{ url }}" class="hover:text-gray-300 transition-colors text-white">
                                        {{ title }}
                                    </a>
                                </h3>
                            {{ /if }}
                        </div>
                    {{ /nav:main_nav }}
                                    {{ brand:button_replicator }}
                    {{ partial:partials/sets/fancy_button }}
                {{ /brand:button_replicator }}
                </div>



            </div>


            <div class="hidden   flex-row gap-2">
                {{ partial:language-switcher /}}
                {{ if brand:ai_search_url }}
                    <a title="{{ 'AI Search' | trans }}" href="{{ brand:ai_search_url }}" target="_blank"
                        class="text-white hover:underline  bg-gray-900/40  h-[50px] w-[50px] justify-center rounded-3xl flex gap-2 items-center">
                        <span class="sr-only">{{ 'AI Search' | trans }}</span>
                        {{ heroicon variant="outline" icon="magnifying-glass" class="w-6 h-6" /}}
                    </a>
                {{ /if }}
                {{ brand:button_replicator }}
                    {{ partial:partials/sets/fancy_button }}
                {{ /brand:button_replicator }}

            </div>












            <!-- Mobile Menu Button -->
            <div class="lg:hidden flex items-center py-4 gap-2 block">
                <div class="flex justify-end gap-2 lg:gap-4 items-center">
                    {{# {{ partial:language-switcher /}} #}}
                    {{# {{ partial:partials/sets/countdown_date_picker countdown_end="{brand:countdown_date_picker format='Y-m-d\TH:i:s'}" }} #}}
                    {{# {{ if brand:ai_search_url }}
                        <a title="{{ 'AI Search' | trans }}" href="{{ brand:ai_search_url }}" target="_blank"
                            class="text-white hover:underline  bg-gray-900/40  h-[50px] w-[50px] justify-center rounded-3xl flex gap-2 items-center">
                            <span class="sr-only">{{ 'AI Search' | trans }}</span>
                            {{ heroicon variant="outline" icon="magnifying-glass" class="w-6 h-6" /}}
                        </a>
                    {{ /if }} #}}
                    {{# {{ partial:language-switcher /}} #}}
                    <button command="show-modal" commandfor="drawer"
                        class=" focus:outline-none flex flex-row items-center bg-white p-[1px] rounded-[15px] "
                        :class="scrolled ? 'text-white' : 'text-white'" aria-label="Toggle mobile menu">
                        <div class="bg-primary  p-2 rounded-[15px]">
                            {{ heroicon variant="outline" icon="bars-3" class=" w-8 h-8" /}}
                        </div>
                        <div class="text-primary hidden sm:block text-sm px-4">{{ 'MENU' | trans }}</div>
                    </button>
                </div>
                {{ partial:partials/header/menu_drawer }}
            </div>



    </nav>
    </header>




    






 