{{ collection:services :slug="segment_2" limit="1" }}



    <div class="bg-grey py-15">
        <div class="adnec-container ">

            <div class="flex flex-row gap-2 text-primary mb-8 pb-5 border-b-[1px] border-[#00000012]
 ">
                {{ heroicon variant="outline" icon="calendar-days" class="w-5 h-6 " /}}
              
            </div>
            <div class="mb-5">
                <img class=" rounded-[10px] object-cover  h-[300px] md:h-[350px] lg:h-[400px] xl:h-[500px]" src="{{ glide:press_release_image }}" alt="{{ press_release_title }}" />
            </div>

            <div class="press-release-content">
            </div>

        </div>
    </div>
{{ /collection:services }}