{{ collection:services :slug="segment_2" limit="1" }}

    <div class=" py-15 bg-primary bg-cover">
        <div class="adnec-container ">

            {{# <div class="flex flex-row gap-2 text-primary mb-8 pb-5 border-b-[1px] border-[#00000012]">
                {{ heroicon variant="outline" icon="calendar-days" class="w-5 h-6 " /}}
            </div> #}}
   
            <div class="grid grid-cols-2 items-center py-10 ">
                <div class="custom text-white">
                    {{ long_description }}
                </div>

                {{ thumbnail_image }}
                    <img src="{{ url }}" alt="">
                {{ /thumbnail_image }}

            </div>

            <div class="grid grid-cols-3 gap-5  flex-wrap py-10">
                {{ carousel_images }}
                  <div class="rounded-[8px] overflow-hidden">  <img src="{{ url }}" alt=""></div>
                {{ /carousel_images }}

            </div>

        </div>
    </div>
{{ /collection:services }}