 
<!-- Content with Info Cards Section -->
<section
  class=" relative overflow-hidden">

  <!-- Decorative Elements -->
   
  <div class="adnec-container py-10 z-10">

    <!-- Section Header -->
          
       <div class="grid  md:grid-cols-[30%_70%] items-start" x-data="{}" x-intersect="$el.classList.add('animate-fade-in')">
        <div class="flex flex-row items-center gap-4">
           <div class="text-primary font-semibold">{{bread_crumb_text}}</div>
            <div class="w-20 h-[2px] bg-semiblack"></div>
          </div>    
        {{ partial:partials/sets/heading_group_component}}
      </div>
      
 
    <!-- Info Cards Grid -->
    {{ if info_cards }}
    {{# TODO: make sure the correct layout of the info cards is passed here #}}
      {{ partial:partials/shared/general/info_card_carousel }}
    {{# {{ partial:partials/shared/general/info_card_detailed }} #}}
    {{# {{ partial:partials/shared/general/info_card_compact }} #}}
      {{# {{ partial:partials/shared/general/info_card_grid }} #}}
    {{ /if }}
    <!-- Call to Action -->
    {{ if cta_actions }}
      <div class="text-center" x-data="{}" x-intersect="$el.classList.add('animate-fade-in')">
        <div class="flex flex-col sm:flex-row gap-4 justify-center items-center">
          {{ cta_actions }}
            {{ partial:shared/button }}
          {{ /cta_actions }}
        </div>
      </div>
    {{ /if }}
  </div>
</section>
