                <div style="{{ if background == 'bgimg' }}background-image: url('{{ image.url }}');{{ else }}background-color: var(--color-{{ background_color }});{{ /if }}"
                    class="w-full  bg-cover bg-center ">
                    <div class="adnec-container py-10">
                        {{ partial:partials/sets/heading_group_with_breadcrumbs }}
                        <div class=" py-8 grid  sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-3">
                            {{ speakers_entries }}
                                {{ speaker_title = title }}
                                <div
                                    class="rounded-xl h-75 overflow-hidden items-end {{ if index > 7 }}max-md:hidden{{ /if }}">
                                    <div class="!flex flex-col  h-full justify-end  relative bg-gradient-to-b from-[#0F0E75] from-[0%] to-[#2365A8] to-[75%]"
                                        >

                                        {{ image }}
                                            <div class="relative  bg-bottom rounded-[5px] content-end     bg-no-repeat bg-[length:auto_85%] h-full"
                                                style="background-image: url('{{ glide:url format='webp' }}');"
                                                role="img" aria-label="{{ alt ?? 'Speaker Image' }}">
                                                <div
                                                    class="absolute z-0 inset-0 bg-[linear-gradient(360deg,#0000003d_3.9%,rgba(0,0,0,0.06)_36.53%,rgba(0,0,0,0.00)_46.16%)]">
                                                </div>
                                            </div>
                                            <div class="relative">
                                                <div class="py-3 px-2 flex flex-col gap-0.5 z-10 relative">
                                                    <div
                                                        class=" text-white text-[14px] leading-7 font-bold  font-mont uppercase text-center">
                                                        {{ speaker_title }}
                                                    </div>
                                                    <div class=" text-white text-[13px] font-normal text-center">
                                                        {{ position }}
                                                    </div>
                                                    <div class="text-white text-[13px] font-normal text-center">
                                                        {{ company }}
                                                    </div>
                                                </div>


                                            </div>
                                        {{ /image }}
                                    </div>
                                </div>
                            {{ /speakers_entries }}
                        </div>
                        <div class="flex justify-center">
                            {{ button_group }}
                                {{ partial:partials/sets/fancy_button }}
                            {{ /button_group }}
                        </div>
                    </div>
                </div>

                <!-- Pagination with custom styling -->